In [17]:
import pandas as pd
import os
import numpy as np

In [18]:
def fn(path):       # 1.Get file names from directory
    file_list=os.listdir(path)
    file_list.remove("readme.txt")
    return file_list

In [44]:
ag = pd.DataFrame({})
for file in fn("../../raw_data/CMO"):
    print(file)
    df = pd.read_csv("../../raw_data/CMO/"+file,sep=";")
    if list(ag.columns):
        ag = pd.concat([ag,df])
    else:
        ag = df

CMO_SEMANAL_2005.csv
CMO_SEMANAL_2006.csv
CMO_SEMANAL_2007.csv
CMO_SEMANAL_2008.csv
CMO_SEMANAL_2009.csv
CMO_SEMANAL_2010.csv
CMO_SEMANAL_2011.csv
CMO_SEMANAL_2012.csv
CMO_SEMANAL_2013.csv
CMO_SEMANAL_2014.csv
CMO_SEMANAL_2015.csv
CMO_SEMANAL_2016.csv
CMO_SEMANAL_2017.csv
CMO_SEMANAL_2018.csv
CMO_SEMANAL_2019.csv
CMO_SEMANAL_2020.csv
CMO_SEMANAL_2021.csv
CMO_SEMANAL_2022.csv

In [45]:
ag

,id_subsistema,nom_subsistema,din_instante,val_cmomediasemanal,val_cmoleve,val_cmomedia,val_cmopesada
0,N,NORTE,2005-01-07,0.94,0.94,0.94,0.94
1,NE,NORDESTE,2005-01-07,0.94,0.94,0.94,0.94
2,S,SUL,2005-01-07,4.50,4.39,4.59,4.59
3,SE,SUDESTE,2005-01-07,0.00,0.00,0.00,0.00
4,N,NORTE,2005-01-14,6.34,5.87,6.41,7.64
...,...,...,...,...,...,...,...
143,SE,SUDESTE,2022-09-09,36.98,36.30,37.65,37.93
144,N,NORTE,2022-09-16,44.28,42.97,45.22,45.66
145,NE,NORDESTE,2022-09-16,44.28,42.97,45.22,45.66
146,S,SUL,2022-09-16,44.28,42.97,45.22,45.66
147,SE,SUDESTE,2022-09-16,44.28,42.97,45.22,45.66

In [46]:
ag = ag[["id_subsistema","din_instante","val_cmomediasemanal"]]

In [47]:
ag["weight"] = 0

C:\Users\Usuario\AppData\Local\Temp\ipykernel_404\2199142449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ag["weight"] = 0

In [48]:
peso = {
    "N":0.07092,
    "NE":0.17021,
    "S":0.17730,
    "SE":0.58155
}
ag["weight"] = ag["id_subsistema"].apply(lambda x:peso[x])
ag["cmo"] = ag["weight"]*ag["val_cmomediasemanal"]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_404\2641151948.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ag["weight"] = ag["id_subsistema"].apply(lambda x:peso[x])
C:\Users\Usuario\AppData\Local\Temp\ipykernel_404\2641151948.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ag["cmo"] = ag["weight"]*ag["val_cmomediasemanal"]

In [49]:
df2 = ag[["din_instante","cmo"]].groupby("din_instante").sum()

In [50]:
df2

                    cmo
din_instante
2005-01-07     1.024512
2005-01-14     7.621400
2005-01-21     1.773359
2005-01-28     1.505705
2005-02-04     0.540765
...                 ...
2022-08-19    70.648587
2022-08-26    51.648967
2022-09-02    50.188996
2022-09-09    36.979260
2022-09-16    44.279114

[924 rows x 1 columns]

In [43]:
df2.to_csv("../../data/CMO/cmo.csv")